.idea
.DS_Store
.env*
!.env.template
.air
go.work.sum
.infisical.json
.vscode/mise-tools
.claude
.cursor
.devcontainer
.github
.omc
.venv
.vscode
docs/
test/*
.omc/
*.next/
apps/web/node_modules/
services/gateway/server/
*.png

